@import "theme/variables.scss";
@import "../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../node_modules/uikit/src/scss/mixins-theme.scss";
@import "theme/_imports.scss";
@import "components/components.scss";

html,
body {
  //height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: $global-default-background;
}

.main-container {
  background-color: #fff;
}

blockquote {
  background-color: $global-muted-background;
  padding: $global-gutter;
}

.uk-heading-line > ::before,
.uk-heading-line > ::after {
  background-image: linear-gradient(to right, transparent 50%, #ee840c 50%) !important;
  background-size: 30px 100% !important;
  height: 3px !important;
  border: none !important;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: #ff7f00;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  position: absolute!important;
  top: 15px!important;
  z-index: 99!important;
  left: 0!important;
  right: 0!important;
  

}
.uk-sticky-placeholder {
  height: 0 !important;
}
.top-wrap::before,
.overlay-wrap::before {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  content: "" !important;
  z-index: 1 !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.top-wrap-height {
  height: 80vh;
  min-height: 460px ;
  transition: height 0.25s ;
}
.uk-subnav-pill > * > :first-child {
  padding: 0.5rem 1rem !important;
  background-color: rgba(0, 0, 0, 0.04) !important;
}
.top-container {
  z-index: 2 !important;
}
.uk-logo img {
  width: 50px !important;

  padding-left: 5px !important;
}
.subtitle-text {
  font-size: 1.2em !important;
  opacity: 0.7 !important;
  font-weight: 300 !important;
}
.logos-grid img {
  display: block !important;
  width: 60px !important;
  margin: 0 auto !important;
  filter: grayscale(100%) !important;
  transition: filter 0.25s !important;
}
.logos-grid img:hover {
  display: block !important;
  width: 60px !important;
  margin: 0 auto !important;
  filter: grayscale(0) !important;
}

.uk-subnav li a {
  border-radius: 15px!important;
  font-size: 12px !important;
}






.uk-card {
  border-top: 2px solid;
  position: relative;
  transition: box-shadow 0.15s ease-out;
  border-radius: 3px;
}
.uk-card:hover {
  box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.045);
}
.uk-card .uk-inline {
  z-index: 99;
}
.uk-card .uk-card-footer {
  padding: 0.55rem 1rem;
}
.uk-card .uk-card-header {
  padding: 0.55rem 1rem;
}
.uk-card .cat-txt {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.01em;
  
}
.nature-card .uk-card {
  border-top-color: #1e87f0;
}

.uk-subnav li a {
  border-radius: 9px;
}

/* .uk-subnav li.uk-active a {
  background-color: #fd8f45;
} */

.orange-subnav li.uk-active a {
  background-color: #fd8f45;
}

.green-subnav li.uk-active a {
  background-color: green;
}

/* .uk-subnav li.uk-active:nth-child(1) a {
  background-color: #fd8f45;
}

.uk-subnav li.uk-active:nth-child(2) a {
  background-color: #fd8f45;
}

.uk-subnav li.uk-active:nth-child(3) a {
  background-color: #fd8f45;
}

.uk-subnav li.uk-active:nth-child(4) a {
  background-color: #fd8f45;
}
.uk-subnav li.uk-active:nth-child(5) a {
  background-color: #fd8f45;
} 

.uk-subnav li.uk-active:nth-child(6) a {
  background-color: #fd8f45;
} */
.nature-card .uk-card .cat-txt {
  color: #1e87f0;
}
.music-card .uk-card {
  border-top-color: #8630f0;
}
.music-card .uk-card .cat-txt {
  color: #8630f0;
}
.design-card .uk-card {
  //border-top-color: #e84df0;
  border-top-color: #ff7f00;
}
.design-card .uk-card .cat-txt {
  //color: #e84df0;
  color: orange;
}
.photo-card .uk-card {
  border-top-color: green;
}

.blog-card .uk-card .cat-txt {
  //color: #e84df0;
  color: orange;
}
.blog-card .uk-card {
  border-top: none;
}

.photo-card .uk-card .cat-txt {
  color: green;
}
.uk-card .uk-overlay-primary {
  padding: 0.5rem;
  text-align: center;
  font-size: 0.9rem;
  //text-transform: uppercase;
  opacity: 0.7;
}

.project-stack {
  margin-bottom: 1rem !important;
}
.project-stack span {
  display: inline-block;
  background: #cccccc;
  color: #808080;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;

  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.75rem;
  //margin-top: 0.5rem;
}
.about-stack span {
  margin-top: 0.5rem;
}






