@import "theme/variables.scss";
@import "../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../node_modules/uikit/src/scss/mixins-theme.scss";
@import "theme/_imports.scss";
@import "components/components.scss";

html,
body {
  //height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: $global-default-background;
}

.main-container {
  background-color: #fff;
}

blockquote {
  background-color: $global-muted-background;
  padding: $global-gutter;
}

.uk-heading-line > ::before,
.uk-heading-line > ::after {
  background-image: linear-gradient(to right, transparent 50%, #ee840c 50%) !important;
  background-size: 30px 100% !important;
  height: 3px !important;
  border: none !important;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: #ff7f00;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  position: absolute!important;
  top: 15px!important;
  z-index: 99!important;
  left: 0!important;
  right: 0!important;
  

}
.uk-sticky-placeholder {
  height: 0 !important;
}
.top-wrap::before,
.overlay-wrap::before {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  content: "" !important;
  z-index: 1 !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.top-wrap-height {
  height: 80vh;
  min-height: 460px ;
  transition: height 0.25s ;
}
.uk-subnav-pill > * > :first-child {
  padding: 0.5rem 1rem !important;
  background-color: rgba(0, 0, 0, 0.04) !important;
}
.top-container {
  z-index: 2 !important;
}
.uk-logo img {
  width: 50px !important;

  padding-left: 5px !important;
}
.subtitle-text {
  font-size: 1.2em !important;
  opacity: 0.7 !important;
  font-weight: 300 !important;
}
.logos-grid img {
  display: block !important;
  width: 60px !important;
  margin: 0 auto !important;
  filter: grayscale(100%) !important;
  transition: filter 0.25s !important;
}
.logos-grid img:hover {
  display: block !important;
  width: 60px !important;
  margin: 0 auto !important;
  filter: grayscale(0) !important;
}

.uk-subnav li a {
  border-radius: 15px!important;
  font-size: 12px !important;
}


.orange-subnav li.uk-active a {
  background-color: #fd8f45 !important;
}

.green-subnav li.uk-active a {
  background-color: green !important;
}







